<ng-container *directiveLet="(capitals$ | async) as capitals">

  <h2>Por Capitales</h2>
  <hr>
  <div class="row">
    <div class="col">
      <app-country-input placeholder="Buscar capital..." (enterEvent)="search($event)"
        (debounceEvent)="suggestions($event)"></app-country-input>
    </div>
  </div>
  <hr>
  <div *ngIf="capitals?.length === 0" class="alert alert-danger">No se encontro el {{term}}</div>

  <div *ngIf="capitals && capitals?.length > 0" class="row">
    <div class="col">
      <app-country-table [countries]="capitals"></app-country-table>
    </div>
  </div>
</ng-container>
