<div
  *directiveLet="countries$ | async as countries"
  class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-country-input
        placeholder="Buscar país..."
        (enterEvent)="search($event)"
        (debounceEvent)="suggestions($event)">
      </app-country-input>
    </div>
  </div>
  <ul class="list-group" *ngIf="displaySuggestions">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let suggestedCountry of suggestedCountries$ | async">
      <a class="nav-link" [routerLink]="['/country', suggestedCountry.cca2]">
        {{ suggestedCountry?.name?.common }}</a
      >
    </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="searchSuggested(term)">
      Buscar: {{ term }}
    </li>
  </ul>
  <hr />
  <div *ngIf="countries?.length === 0" class="alert alert-danger">
    No se encontro el {{ term }}
  </div>
  <div *ngIf="countries && countries?.length > 0" class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
